{% load static %}
<!DOCTYPE html><html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
  </head>
  
  <body>
    {% if user_logado %}
    <div class="container">
        <div class="nav">
            <div class="logo">
                <h1>Bannetwork</h1>
            </div>
            <div class="form-buscar">
                <form>
                    <input type="text" placeholder="Buscar" id="bucar_user" name="buscar" value="">
                    <button type="button" onclick="buscar_cliente(0)"><img src="{% static 'base/img/icons/lupa.png' %}" alt="" width="32px" height="32px"></button>
                </form>
            </div>
            <ul class="nav-bar">
                <li>
                    <a href="{% url 'usuarios:home' %}"><img src="{% static 'base/img/icons/botao-home.png' %}" alt=""></a>
                </li>
                <li>
                    <a href="#"><img src="{% static 'base/img/icons/adicionar.png' %}" alt=""></a>
                </li>
                <li> 
                    <a href="{% url 'usuarios:perfil_user' id=user_logado.id %}">
                        <img src="{% static 'base/img/icons/user.png' %}" alt="">
                    </a>
                </li>
                <li>
                    <a href="{% url 'usuarios:logout_user' %}">
                        <img src="{% static 'base/img/icons/sair.png' %}" alt="">
                    </a>
                </li>
            </ul>
            <ul class="nav-bar-mobile">
                <li>
                    <a id="menu-mobile"><img src="{% static 'base/img/icons/barra-de-menu.png' %}" alt=""></a>
                </li>
            </ul>
        </div>
        <div class="menu-mobile">
            <ul>
                <li>
                    <p>meu perfil</p>
                    <a href="{% url 'usuarios:perfil_user' user_logado.id %}"><img src="{% static 'base/img/icons/botao-home.png' %}" alt=""></a>
                </li>
                <li>
                    <p>criar</p>
                    <a href="#">
                        <img src="{% static 'base/img/icons/adicionar.png' %}" alt="">
                    </a>
                </li>
                <li id="mobile-buscar">
                    <p>buscar</p>
                    <a href="#">
                        <img src="{% static 'base/img/icons/lupa.png' %}" alt="">
                    </a>
                </li>
                <li>
                    <p>logout</p>
                    <a href="{% url 'usuarios:logout_user' %}">
                        <img src="{% static 'base/img/icons/sair.png' %}" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>



    <div class="feed">
        <div class="form-feed">
            <form>
                <input type="text" placeholder="Buscar" id="bucar_user_mobile" name="buscar" value="">
                <button type="button" onclick="buscar_cliente(1)"><img src="{% static 'base/img/icons/lupa.png' %}" alt="" width="32px" height="32px"></button>
            </form>
        </div>
        <div class="lista-usuarios">
            <div class="usuarios-container">
                <div class="user_recente">
                    
                </div>
              </div>
        </div>
        <div class="feed-post">
            {% for post in posts %}
            <div class="post" id="id_post_{{ post.id }}">
                <div class="post-head">
                    <div class="post-perfil">
                        {% if post.user.profile.user_img %}
                        <img src="{{ post.user.profile.user_img.url }}" alt="" width="40px" height="40px">
                    {% else %}
                        <img src="{% static 'base/img/icons/user.png' %}" alt="" width="40px" height="40px">
                    {% endif %}
                        <div>
                            <a href="{% url 'usuarios:perfil_user' post.user.id %}""><p class="name">{{ post.user.username }}</p></a>
                            <p class="post-date">{{ post.dt_criacao }}</p>
                        </div>
                    </div>
                    {% if user_logado == post.user %}
                    <img src="{% static 'base/img/icons/remover.png' %}" onclick="deletar_post({{ post.id }})" alt="" style="cursor: pointer;">
                    {% endif %}
                </div>
                <div class="post-legenda">
                    <p>{{ post.legenda }}</p>
                </div>
                <div class="post-img">
                    <img src="{{ MEDIA_URL }}{{ post.imagem.url }}" alt="">
                </div>
                <div class="post-link">
                    <button type="button" onclick="curtir({{ user_logado.id }}, {{ post.id }})" style="border: none; background-color: transparent; cursor: pointer; margin-left: 4px;">
                        {% if user_logado in post.likes.all %}
                        <img onclick="curtir({{ user_logado.id }}, {{ post.id }})" id="img_like{{ post.id }}" src="{% static 'base/img/icons/like.png' %}" alt="" width="24px" height="24px">
                        {% else %}
                        <img onclick="curtir({{ user_logado.id }}, {{ post.id }})" id="img_like{{ post.id }}" src="{% static 'base/img/icons/coracao.png' %}" alt="" width="24px" height="24px">
                        {% endif %}
                    </button>
                    <button type="button" style="border: none; background-color: transparent; cursor: pointer; margin-left: 4px;">
                        <img src="{% static 'base/img/icons/comente (1).png' %}" alt="" width="24px" height="24px">
                    </button>
                </div>
                <div class="post-comentarios">
                    <ul class="comentarios-lista" id="lista_{{ post.id }}">
                        {% for comentario in post.post_comentarios.all %}
                        <li>{{ comentario.user.username }} - {{ comentario.comentario }}</li>
                        {% endfor %}
                    </ul>

                    <div class="comentarios-form">
                        <input type="text" placeholder="Comentar" id="comentario{{post.id}}">
                        <button type="button" onclick="comentar('{{ post.id }}', document.getElementById('comentario{{post.id}}').value)"><img src="{% static 'base/img/icons/enviado.png' %}" alt=""></button>
                    </div>
                </div>
            </div>
            {% endfor %}
            

        </div>

        <div class="feed-info">
            <h3>Usuarios recentes</h3>
            <div class="user_recente">
            </div>
        </div>
        <div class="clear"></div>
        
    </div>
    <div class="footer">
        <h4>Desenvolvido por - Lázaro Wendel</h4>
    </div>
    <div class="pagina-escura"></div>
    {% else %}


    <div class="container">
        <div class="nav">
            <div class="logo">
                <h1>Bannetwork</h1>
            </div>
            <div class="form-buscar">
                <form>
                    <input type="text" placeholder="Buscar" id="bucar_user" name="buscar" value="">
                    <button type="button" onclick="buscar_cliente()"><img src="{% static 'base/img/icons/lupa.png' %}" alt="" width="32px" height="32px"></button>
                </form>
            </div>
            <ul class="nav-bar">
                <li>
                    <a href="{% url 'usuarios:home' %}"><img src="{% static 'base/img/icons/botao-home.png' %}" alt=""></a>
                </li>
                <li>
                    <a href="{% url 'login:login' %}"><img src="{% static 'base/img/icons/adicionar.png' %}" alt=""></a>
                </li>
                <li> 
                    <a href="{% url 'login:login' %}">
                        <img src="{% static 'base/img/icons/user.png' %}" alt="">
                    </a>
                </li>
            </ul>
            <ul class="nav-bar-mobile">
                <li>
                    <a id="menu-mobile"><img src="{% static 'base/img/icons/barra-de-menu.png' %}" alt=""></a>
                </li>
            </ul>
        </div>
        <div class="menu-mobile">
            <ul>
                <li>
                    <p>home</p>
                    <a href="{% url 'usuarios:home' %}">
                        <img src="{% static 'base/img/icons/botao-home.png' %}" alt="">
                    </a>
                </li>
                <li>
                    <p>criar</p>
                    <a href="{% url 'login:login' %}">
                        <img src="{% static 'base/img/icons/adicionar.png' %}" alt="">
                    </a>
                </li>
                <li id="mobile-buscar">
                    <p>buscar</p>
                    <a href="#">
                        <img src="{% static 'base/img/icons/lupa.png' %}" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>



    <div class="feed">
        <div class="form-feed">
            <form>
                <input type="text" placeholder="Buscar" id="bucar_user" name="buscar" value="">
                <button type="button" onclick="buscar_cliente()"><img src="{% static 'base/img/icons/lupa.png' %}" alt="" width="32px" height="32px"></button>
            </form>
        </div>

        <div class="feed-post">
            {% for post in posts %}
            <div class="post" id="id_post_{{ post.id }}">
                <div class="post-head">
                    <div class="post-perfil">
                        {% if post.user.profile.user_img %}
                        <img src="{{ post.user.profile.user_img.url }}" alt="" width="40px" height="40px">
                    {% else %}
                        <img src="{% static 'base/img/icons/user.png' %}" alt="" width="40px" height="40px">
                    {% endif %}
                        <div>
                            <a href="{% url 'usuarios:perfil_user' post.user.id %}"><p class="name">{{ post.user.username }}</p></a>
                            <p class="post-date">{{ post.dt_criacao }}</p>
                        </div>
                    </div>
                </div>
                <div class="post-legenda">
                    <p>{{ post.legenda }}</p>
                </div>
                <div class="post-img">
                    <img src="{{ MEDIA_URL }}{{ post.imagem.url }}" alt="">
                </div>
                <div class="post-link">
                    <a href="{% url 'login:login' %}"><img src="{% static 'base/img/icons/coracao.png' %}" alt=""></a>
                    <a href="{% url 'login:login' %}"><img src="{% static 'base/img/icons/comente (1).png' %}" alt=""></a>
                </div>
                <div class="post-comentarios">
                    <ul class="comentarios-lista" id="lista_{{ post.id }}">
                        {% for comentario in post.post_comentarios.all %}
                        <li>{{ comentario.user.username }} - {{ comentario.comentario }}</li>
                        {% endfor %}
                    </ul>

                    <form class="comentarios-form" action="GET">
                        <input type="text" placeholder="Faça login para comentar" id="comentario{{post.id}}" disabled>
                        <button type="button">
                            <img src="{% static 'base/img/icons/enviado.png' %}" alt="">
                        </button>
                    </form>
                </div>
            </div>
            {% endfor %}
            

        </div>

        <div class="feed-info">
            <h3>Usuarios recentes</h3>
            <div class="user_recente">

            </div>
        </div>
        <div class="clear"></div>
        
    </div>
    <div class="footer">
        <h4>Desenvolvido por - Lázaro Wendel</h4>
    </div>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="{% static 'home/js/usuarios.js' %}"></script>
    <script>
        var staticImagePath = "{% static 'base/img/icons/user.png' %}";
        var mediaUrl = "{{ MEDIA_URL }}";

    </script>
</body>

</html>


