{% extends 'base.html' %}
{% load static %}
{% block 'head' %}
 <link rel="stylesheet" href="{% static 'home/css/perfil.css' %}">
{% endblock %}

{% block 'body' %}

{% if user_logado %}
<div class="perfil">
  <div class="row">
    <div class="col-4 text-end p-5">
      {% if user_perfil.profile.user_img %}
      <div class="img-perfil"><img src="{{ MEDIA_URL }}{{ user_perfil.profile.user_img.url }}" class="rounded-5"" alt="" width=" 200px" height="200px"></div>
      {% else %}
      <div class="img-perfil"><img src="{% static 'home/img/perfil.png' %}" alt="" width="200px" height="200px" class="rounded-5">
      </div>
      {% endif %}
    </div>
    <div class="col-8 p-5">
      <div class="links d-flex align-content-center">
        <h3 class="m-0">{{ user_perfil.username }}</h3>
        <button type="button" class="btn mx-4"><a href="#" class="text-decoration-none text-black">Editar
            perfil</a></button>
        <button type="button" class="btn"><a href="#" class="text-decoration-none text-black">Seguir</a></button>
      </div>
      <div class="perfil-info d-flex align-content-center">
        <p class="mt-3"><b>1</b> publicação</p>
        <p class="px-3 mt-3"><b>500</b> seguidores</p>
        <p class="px-3 mt-3"><b>200</b> seguindo</p>
      </div>
    </div>
    <div class="line"></div>
    <div class="publicacao text-center">
      <p>PUBLICAÇÕES</p>
      <div class="container text-center">
        <div class="container">


          {% for p in post %}
          <div class="post card-post">
              <div class="post-header">
                <h3>{{ post.user.username }}</h3>
              </div>
              <div class="post-image">
                <img src="{{ MEDIA_URL }}{{ p.imagem.url }}" alt="Imagem do Post">
              </div>
    
              <div class="post-actions text-start">
                <a href="" class="mx-2"><img src="{% static 'base/img/icons/gostar.png' %}" alt=""></a>
                <a href=""><img src="{% static 'base/img/icons/comente.png' %}" alt=""></a>
              </div>
              <div class="post-comments text-start">
                <h4 class="">Comentários</h4>
                <hr class="">
                <ul class="list-unstyled">
                  <ul class="list-unstyled text-start">
                    {% for comentario in p.comentarios.all %}
                      <li>{{ comentario.user.username }} - {{ comentario.comentario }}</li>
                    {% endfor %}
                    </ul>
                </ul>
                <div class="comment-form mt-3">
                  <form method="post" action="">
                    {% csrf_token %}
                    <div class="form-group">
                      <textarea class="form-control form-control-sm" name="comentario" placeholder="Digite seu comentário"></textarea>
                    </div>
                    <button type="submit" class="btn btn-secondary btn-sm mt-1">Comentar</button>
                  </form>
                </div>
              </div>
            </div>
            {% endfor %}


        </div>

      </div>
    </div>
  </div>
</div>

    
{% else %}




    <div class="perfil">
      <div class="row">
        <div class="col-4 text-end p-5">
          {% if user_perfil.profile.user_img %}
          <div class="img-perfil"><img src="{{ MEDIA_URL }}{{ user_perfil.profile.user_img.url }}" class="rounded-5"" alt="" width=" 200px" height="200px"></div>
          {% else %}
          <div class="img-perfil"><img src="{% static 'home/img/perfil.png' %}" alt="" width="200px" height="200px" class="rounded-5">
          </div>
          {% endif %}
        </div>
        <div class="col-8 p-5">
          <div class="links d-flex align-content-center">
            <h3 class="m-0">{{ user_perfil.username }}</h3>
            <button type="button" class="btn mx-4"><a href="#" class="text-decoration-none text-black">Editar
                perfil</a></button>
            <button type="button" class="btn"><a href="#" class="text-decoration-none text-black">Seguir</a></button>
          </div>
          <div class="perfil-info d-flex align-content-center">
            <p class="mt-3"><b>1</b> publicação</p>
            <p class="px-3 mt-3"><b>500</b> seguidores</p>
            <p class="px-3 mt-3"><b>200</b> seguindo</p>
          </div>
        </div>
        <div class="line"></div>
        <div class="publicacao text-center">
          <p>PUBLICAÇÕES</p>
          <div class="container text-center">
            <div class="container">


              {% for p in post %}
              <div class="post card-post">
                  <div class="post-header">
                    <h3>{{ post.user.username }}</h3>
                  </div>
                  <div class="post-image">
                    <img src="{{ MEDIA_URL }}{{ p.imagem.url }}" alt="Imagem do Post">
                  </div>
        
                  <div class="post-actions text-start">
                    <a href="" class="mx-2"><img src="{% static 'base/img/icons/gostar.png' %}" alt=""></a>
                    <a href=""><img src="{% static 'base/img/icons/comente.png' %}" alt=""></a>
                  </div>
                  <div class="post-comments text-start">
                    <h4 class="">Comentários</h4>
                    <hr class="">
                    <ul class="list-unstyled">
                      <ul class="list-unstyled text-start">
                        {% for comentario in p.comentarios.all %}
                          <li>{{ comentario.user.username }} - {{ comentario.comentario }}</li>
                        {% endfor %}
                        </ul>
                    </ul>
                    <div class="comment-form mt-3">
                      <form method="post" action="">
                        {% csrf_token %}
                        <div class="form-group">
                          <textarea class="form-control form-control-sm" name="comentario" placeholder="Digite seu comentário"></textarea>
                        </div>
                        <button type="submit" class="btn btn-secondary btn-sm mt-1">Comentar</button>
                      </form>
                    </div>
                  </div>
                </div>
                {% endfor %}


            </div>

          </div>
        </div>
      </div>
    </div>
  {% endif %}


  {% endblock %}