@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.login-form h1 {
    font-family: 'Permanent Marker', cursive;
    padding-left: 10px;
    text-align: center;
}

.login-form {
    width: 400px;
    padding: 20px;
    background: #ccc;
    border-radius: 5px;
    box-shadow: -1px 0px 17px -1px rgba(168, 168, 168, 1);
    margin: 0 3%;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form input[type="text"]:focus,
.login-form input[type="email"]:focus,
.login-form input[type="password"]:focus {
    border: 1px solid #ccc;
    outline: none;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background: #ffffff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background: #747474;
}

.login-form p {
    text-align: center;
    margin-top: 20px;
}

.login-form p a {
    color: #0099ff;
    text-decoration: none;
}