{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro</title>
  <link rel="stylesheet" href="{% static 'login/css/cadastro.css' %}">
</head>

<body>
  <div class="login-form">
    <h1>Bannetwork</h1>
    <h2>Cadastro</h2>
    <form action="{% url 'login:fazer_cadastro' %}" method="POST">{% csrf_token %}
      <input type="text" name="nome" placeholder="Nome de usuário" required>
      <input type="email" name="email" placeholder="E-mail" required>
      <input type="password" name="senha" placeholder="Senha" required>
      <button type="submit">Cadastrar</button>
    </form>
    <p>Já possui uma conta? <a href="{% url 'login:login' %}">Faça login</a></p>
  </div>

</body>

</html>