{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
  <link rel="stylesheet" href="{% static 'login/css/login.css' %}">
</head>
<body>
  <div class="login-form">
    <h1>Bannetwork</h1>
    <h2>Login</h2>
    <form action="{% url 'login:login' %}" method="POST">{% csrf_token %}
      <input type="text" name="nome" placeholder="Nome de usuário" required>
      <input type="password" name="senha" placeholder="Senha" required>
      <button type="submit">Entrar</button>
    </form>
    <p>Ainda não possui uma conta? <a href="{% url 'login:fazer_cadastro' %}">Cadastre-se</a></p>
  </div>
</body>
</html>


