.purple-form {
    background-color: purple;
    color: white;
    padding: 20px;
    border-radius: 5px;
}

.purple-form label {
    color: white;
}

.purple-form .form-control {
    background-color: white;
    color: purple;
}

.purple-form .btn-white {
    background-color: white;
    color: purple;
    border-color: white;
}

.purple-form .btn-white:hover {
    background-color: purple;
    color: white;
    border-color: purple;
}

.center {
    padding-right: 170px;
    margin: 100px auto;
}