body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    min-height: 100vh;
}

.sidebar {
    background-color: purple;
    color: white;
    width: 300px;
    flex-shrink: 0;
    padding: 20px;
}

.sidebar-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav li {
    margin-bottom: 10px;
}

.sidebar-nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.content {
    flex-grow: 1;
    background-color: white;
    padding: 20px 150px;
}

.line {
    width: 100%;
    height: 2px;
    background-color: purple;
}

.links>button {
    background-color: rgb(236, 102, 236);
}

.post {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid purple;
  }
  
  .post-header {
    margin-bottom: 10px;
  }
  
  .post-image img {
    width: 100%;
    max-height: 700px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .post-actions button {
    margin-right: 10px;
  }
  
  .post-comments {
    margin-top: 10px;
  }
  
  .post-comments h4 {
    margin-bottom: 10px;
  }
  
  .comment-form {
    background-color: purple;
    color: white;
    padding: 10px;
  }
  
  .comment-form textarea {
    background-color: white;
    color: purple;
    border: 1px solid purple;
  }

  .card-post {
    max-width: 800px;
    width: 700px;
    margin: 0 auto;
  }