@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Patua+One&family=Permanent+Marker&display=swap');


/* STYLE PAGINA */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* END */


/* STYLE DA NAVBAR */
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ccc;
    align-items: center;
    height: 56px;
    position: fixed;
}

.nav {
    position: fixed;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
}

.nav .logo {
    font-family: 'Permanent Marker', cursive;
    padding-left: 10px;
}

.nav>ul {
    display: flex;
    flex-direction: row;
    justify-self: end;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav>ul>li {
    padding: 0 10px;
}

.nav>ul>li>a {
    text-decoration: none;
    color: black;
}

.nav>ul>li>a>img:hover {
    background-color: #afafaf;
    transform: scale(0.96);
    border-radius: 50%;
}

ul.nav-bar-mobile {
    display: none;
}

.menu-mobile {
    display: none;
}

.menu-mobile ul {
    display: none;
}

.logo {
    flex-grow: 1;
    text-align: left;
    width: 200px;
}

.logo h1 {
    font-family: 'Permanent Marker', cursive;
}

.form-buscar {
    flex-grow: 1;
    display: flex;
    justify-content: start;
}

.form-buscar>form>input {
    width: 300px;
    height: 30px;
    border: 0;
    border-radius: 10px;
    padding: 10px;
}

.form-buscar>form>input:focus {
    border: 1px solid #a7a6a6;
    outline: none;
}

/* END NAVBAR */


/* STYLE FEED */

.feed {
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    padding-top: 56px;
    border-left: 1px dotted #ccc;
}

/* END STYLE FEED */


/* STYLE DOS POSTS */

.feed-post {
    float: left;
    width: 70%;
    margin-top: 50px;
}

.post {
    background-color: #ccc;
    margin: 0 40px 30px 40px;
    padding-bottom: 10px;
    box-shadow: -1px 0px 17px -1px rgba(168, 168, 168, 1);
}

.post-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 2px 10px;
}

.post-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-perfil {
    display: flex;
    align-items: center;
}

.post-perfil img {
    margin-right: 5px;
    border-radius: 50%;
}

.post-perfil a {
    text-decoration: none;
}

.name {
    margin: 0;
    color: #000;
    font-size: 17px;
}

.name:hover {
    color: #627aff;
}

.post-date {
    margin: 0;
    color: #777;
    font-size: 12px;
}

.post-legenda {
    padding: 10px 10px 2px 10px;
}

.post-img {
    max-width: 100%;
}

.post-img img {
    max-width: 100%;
    height: 100%;
}

.post-link {
    padding: 10px 10px 2px 10px;
}

.post-link a {
    margin-right: 10px;
}

.post-comentarios {
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}

.comentarios-lista {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 80px;
    overflow-y: auto;
}

.comentarios-lista li {
    margin-bottom: 10px;
    border-bottom: 1px solid #eeeded;
}

.comentarios-form {
    display: flex;
    align-items: center;
}

.comentarios-form input[type="text"] {
    flex: 1;
    padding: 5px;
    margin-right: 5px;
    border-radius: 10px;
    border: 1px dotted #ccc;
}

.comentarios-form input[type="text"]:focus {
    border: 1px solid #ccc;
    outline: none;
}

.comentarios-form button {
    padding: 5px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

/* END FEED POST */


/* STYLE FEED DIREITA */

.feed-info {
    width: 30%;
    float: right;
    margin-top: 50px;
    border-left: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
    height: 100vh;
    max-width: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* END FEED DIREITA */

/* STYLE MEU PERFIL */

.meu-perfil {
    display: block;
    text-align: center;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin-bottom: 10px;
}

.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.btn-perfil {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;
    background-color: #eeeeee;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.clear {
    clear: both;
}

/* END STYLE PERFIL */

.footer {
    background-color: #ccc;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-feed {
    display: none;
}

.usuarios-container {
    display: none;
}

.meu-perfil-mobile {
    display: none;
}

.feed-editar {
    display: none;
}

.feed-editar {
    margin: 0 40px 30px 40px;
}

.my-form {
    width: 300px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.feed-editar label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.feed-editar .img-perfil-editar {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    align-items: center;
}

.feed-editar .img-perfil-editar p {
    margin-top: 10px;
}

.feed-editar input[type="text"],
.feed-editar input[type="email"],
.feed-editar input[type="password"],
.feed-editar input[type="number"],
.feed-editar input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.feed-editar button[type="submit"],.feed-editar button[type="button"] {
    padding: 10px 20px;
    background-color: #ccc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.feed-editar button[type="submit"]:hover, button[type="button"]:hover {
    background-color: #aaa;
}

.feed-seguidores , .feed-seguindo{
    display: none;
    margin: 0 40px 30px 40px;
}
.feed-seguidores p, .feed-seguindo p {
    text-align: center;
    font-size: 30px;
}

.feed-seguidores table, .feed-seguindo table{
    width: 100%;
    background-color: #ccc;
    text-align: center;
    border: 1px solid #eeeded;
}
.feed-seguidores table tr td img, .feed-seguindo table tr td img{
    border-radius: 50%;
    margin: 10px;
}
.feed-seguidores table tr td a, .feed-seguindo table tr td a {
    text-decoration: none;
    color: #000;
}
.feed-seguidores table tr td, .feed-seguindo table tr td {
    border-bottom: 1px solid #eeeded;
}
.feed-seguidores table tr td a:hover, .feed-seguindo table tr td a:hover {
    color: #627aff;
}



@media screen and (max-width: 864px) {
    .nav>ul>li {
        padding: 0 4px;
    }

    .form-buscar>form>input {
        width: 250px;
        height: 30px;
        border: 0;
        border-radius: 10px;
        padding: 10px;
    }
}


@media screen and (max-width: 720px) {
    .meu-perfil-mobile {
        margin: 10px;
        display: flex;
        background-color: #ccc;
        padding: 10px;
        box-shadow: -1px 0px 17px -1px rgba(168, 168, 168, 1);
        justify-content: space-between;
        /* Adicionado */
    }

    .box-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn-perfil {
        padding: 2px 5px;
        display: block;
        text-align: center;
        margin-top: 3px;
    }

    .profile img {
        border-radius: 10px;
    }

    .profile p {
        padding-left: 10px;
    }

    .nav>ul {
        display: none;
    }

    ul.nav-bar-mobile {
        display: block;
    }

    .form-buscar {
        display: none;
    }

    .feed-info {
        display: none;
    }

    .feed-post {
        width: 100%;
        float: none;
    }

    .comentarios-lista li {
        font-size: 14px;
    }

    .post-link {
        padding: 5px;
    }

    .post-link a {
        margin-right: 5px;
    }

    .post-comentarios {
        margin-top: 0;
    }

    .menu-mobile {
        position: fixed;
        top: 55px;
        right: 0;
        flex-direction: column;
        align-items: center;
        background-color: #ccc;
    }

    .menu-mobile ul {
        display: block;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .menu-mobile li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px 2px 20px;
        border-bottom: 1px solid #777;
    }

    .menu-mobile li:hover {
        cursor: pointer;
        background-color: #eeeded;
    }

    .menu-mobile p {
        margin: 0;
        margin-right: 10px;
    }

    .menu-mobile img {
        width: 32px;
        height: 32px;
    }

    .container {
        z-index: 4;
    }

    .feed {
        display: block;
    }

}

@media screen and (max-width: 480px) {
    .post {
        margin: 10px;
    }

    .comentarios-lista li {
        font-size: 13px;
    }
    .feed-editar {
        margin: 0 10 30px 10px;
    }
    .my-form {
        width: 100%;
        margin: 0 auto;
    }
}